* 
    margin: 0
    padding: 0
    font-family: "Bitter", serif
    font-style: normal
    font-weight: normal
    font-size: 14px
    color: white
body
    background-color: #eeeeee
p 
    margin: 0
ul 
    margin: 0
    padding: 0
a 
    text-decoration: none
    color: inherit
    &:hover 
        color: inherit

@mixin navigation 
    position: relative
    left: 0
    top: 0
    width: 100%
    height: 53px

@mixin slick($top)
    position: absolute
    top: $top
    display: block
    cursor: pointer

@mixin mainArticles($color)
    position: relative
    width: 100%
    background: #FFFFFF
    padding: 25px
    border-left: 13px solid $color

header 
    position: relative
    top: 0
    left: 0
    width: 100%

.top-navigation 
    @include navigation()
    display: flex
    flex-direction: row
    justify-content: center
    background-color: $headerFooterColor
    .top-navigation-content 
        display: flex
        flex-direction: row
        justify-content: space-between
        width: $mainWidth
        .top-navigation-brand 
            position: relative
            display: flex
            flex-direction: row
            align-items: center
            .top-logo 
                position: relative
                height: 100%
                width: 63px
                &:before 
                    content: ""
                    display: block
                    position: absolute
                    top: 0
                    left: 0
                    height: 100%
                    width: 63px
                    mix-blend-mode: normal
                    opacity: 0.05
                    background-color: #fff
                img 
                    position: absolute
                    width: 14px
                    height: 21px
                    left: 23px
                    top: 15px       
            p 
                position: absolute
                width: 100px
                height: 27px
                left: 72px
                top: 16.5px
                font-size: 24px
                line-height: 27px
                display: flex
                align-items: center
                color: #ffffff
        .top-navigation-links
            position: relative
            display: flex
            flex-direction: row
            align-items: center
            ul
                li
                    display: inline
                    padding: 5px
                    margin-right: 15px
                    a 
                        font-family: "Varela Round", sans-serif
                        font-size: 14px
                        height: 27px
                        &:hover 
                            mix-blend-mode: normal
                            color: #fff
                            opacity: 0.7
            .top-navigation-search 
                height: 100%
                width: 62px
                background-color: transparent
                border: none
                &:before 
                    content: ""
                    display: block
                    position: absolute
                    top: 0
                    right: 0
                    height: 100%
                    width: 62px
                    mix-blend-mode: normal
                    opacity: 0.05
                    background-color: #fff
                img 
                    width: 16px
                    height: 16px

.lower-navigation 
    @include navigation()
    background-color: $purple
    display: flex
    justify-content: center
    .lower-navigation-content 
        display: flex
        flex-direction: row
        justify-content: start
        align-items: center
        width: $mainWidth
        ul
            height: 100%
            display: flex
            flex-direction: row
            li
                display: flex
                flex-direction: row
                justify-content: center
                align-items: center
                height: 100%
                a
                    font-weight: bold
                    font-size: 18px
                    display: flex
                    flex-direction: row
                    justify-content: center
                    align-items: center
                    height: 100%
                    padding: 6px 16px
                    &:hover 
                        mix-blend-mode: normal
                        color: #fff
                        opacity: 0.8
                    &#news 
                        background-color: $newsColor
                    &#business 
                        padding-bottom: 0px
                        border-bottom: 6px solid $businessColor
                    &#sport 
                        padding-bottom: 0px
                        border-bottom: 6px solid $sportColor
                    &#life 
                        padding-bottom: 0px
                        border-bottom: 6px solid $lifeColor
                    &#tech 
                        padding-bottom: 0px
                        border-bottom: 6px solid $techColor
                    &#travel 
                        padding-bottom: 0px
                        border-bottom: 6px solid $travelColor

.main-content 
    width: $mainWidth
    height: 100%
    position: relative
    margin: 0 auto
    .banner 
        width: 100%
        height: 120px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        border: 1px solid #D7D7D7
        margin: 20px 0
        background: #ffffff
        p
            color: grey
    .slider
        position: relative
        .slick-arrow
            z-index: 1
        .slick-prev
            @include slick(45%)
            left: 28px
        .slick-next
            @include slick(45%)
            right: 28px
    .single-banner-image
        position: relative
        .banner-image-text
            position: absolute
            bottom: 0
            left: 0
            padding: 0 0 30px 30px
            width: 100%
            height: 40%
            display: flex
            flex-direction: row
            align-items: flex-end
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, white 70%);
            .text
                height: fit-content
            p
                font-family: Varela Round
                font-size: 12px
                line-height: 14px
                color: #222222
            h1
                padding-top: 15px
                width: 80%
                font-weight: bold
                font-size: 44px
                line-height: 52,8px
                color: #222222

.slick-slide
    position: relative
    .image-info
        position: absolute
        bottom: 0
        left: 0
        display: flex
        flex-direction: column
        justify-content: center
        padding: 0 30px
        width: 100%
        height: 45%
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%)
        .article-info
            display: flex
            flex-direction: row
            padding-bottom: 10px
            .article-date
                font-family: Varela Round
                font-size: 12px
                line-height: 14px
                color: $sliderArticleColor
            .article-comments
                padding-left: 15px
                font-family: Varela Round
                font-size: 12px
                line-height: 14px
                color: $sliderArticleColor
                img
                    display: inline
        h1
            font-family: Bitter
            font-weight: bold
            font-size: 34px
            line-height: 40,8px
            color: $sliderArticleColor
            width: 70%
            letter-spacing: 2px
        .article-link
            font-family: "Varela Round"
            font-size: 14px
            display: inline-block
            width: 15%
            text-align: center
            padding: 5px 15px
            border: 1px solid #FFFFFF

.center-articles
    position: relative
    display: flex
    flex-direction: row
    width: 100%
    .main-articles
        width: 625px
        margin: 15px 18px 0 0
        .news
            @include mainArticles($newsColor)
            margin-bottom: 17px
        .sport
            @include mainArticles($sportColor)
            margin-bottom: 17px
        .business
            @include mainArticles($businessColor)
        .news-carousel
            @include mainArticles($techColor)
            margin-bottom: 17px
        .single-carousels
            display: flex
            flex-direction: row
            justify-content: space-between
            .editorials
                @include mainArticles($travelColor)
                width: 48%  
            .local-news
                @include mainArticles($travelColor)
                width: 48%
        .news-category
            position: relative
            width: 100%
            background: #FFFFFF
            padding: 25px
            .news-category-title
                font-weight: bold
                font-size: 24px
                line-height: 29px
                color: $mainArticlesTitleColor
                padding-bottom: 35px
            .news-category-article
                display: flex
                flex-direction: column
                padding: 20px 0
                .title
                    color: $mainArticlesTitleColor
                    font-weight: bold
                    font-size: 24px
                    line-height: 28px
                    padding-bottom: 15px
                .data
                    display: flex
                    flex-direction: row
                    align-items: center
                    justify-content: space-between
                    width: 70%
                    .date
                        display: flex
                        flex-direction: row
                        align-items: center
                        img
                            padding-right: 10px
                        .dat
                            color: $mainArticlesTitleColor
                            font-family: Varela Round
                            font-size: 12px
                            line-height: 14px
                    .author
                        color: $mainArticlesTitleColor
                        font-family: Varela Round
                        font-size: 12px
                        line-height: 14px
                    .comments
                        color: $mainArticlesTitleColor
                        font-family: Varela Round
                        font-size: 12px
                        line-height: 14px
                .body
                    display: flex
                    flex-direction: row
                    padding: 5px 0 30px
                    img
                        padding: 10px 20px 0 0
                        align-self: flex-start
                    .text-button
                        display: flex
                        flex-direction: column
                        .text
                            color: #444444
                            font-size: 14px
                            line-height: 22px
                            padding-bottom: 15px
                        a
                            font-family: Varela Round
                            font-size: 14px
                            line-height: 17px
                            background-color: $purple
                            color: #FFFFFF
                            width: fit-content
                            padding: 8px 22px
                            border: none
                            &:hover
                                opacity: 0.9
            .category-hr
                color: #DDDDDD
            .page-numbers
                padding: 40px 0 10px
                ul
                    li
                        display: inline
                        margin: 5px
                        a
                            font-family: Varela Round
                            font-size: 14px
                            line-height: 17px
                            color: $purple
                            padding: 8px 12px
                            background-color: #DDDDDD
                            &.active
                                background-color: $purple
                                color: #FFFFFF
                            &:hover
                                opacity: 0.8
        .article
            background-color: #FFFFFF
            .text
                padding: 30px
                color: #444444
                font-size: 14px
                line-height: 22px
            .social
                padding: 40px 10px 18px
        .author-section
            background-color: #FFFFFF
            padding: 18px 30px 30px
            margin-bottom: 20px
            .title
                font-weight: bold
                font-size: 24px
                line-height: 29px
                color: $mainArticlesTitleColor
                padding-bottom: 30px
            .author-content
                display: flex
                flex-direction: row
                justify-content: space-between
                .about-author
                    color: $mainArticlesTitleColor
                    font-family: Varela
                    font-size: 13px
                    line-height: 20px
                    padding-left: 20px
        .comments-section
            background-color: #FFFFFF
            margin-bottom: 40px
            .title
                color: $mainArticlesTitleColor
                font-weight: bold
                font-size: 24px
                line-height: 29px
                padding: 18px 30px
            .comments
                padding: 15px 30px
                .comment
                    display: flex
                    flex-direction: row
                    align-items: flex-start
                    padding-bottom: 40px
                    &:last-child
                        padding: 0
                    .comment-body
                        position: relative
                        padding-left: 18px
                        .top
                            display: flex
                            flex-direction: row
                            padding-bottom: 3px
                            .user-name
                                font-size: 18px
                                line-height: 20px
                                color: $purple
                                padding-right: 10px
                            .date
                                font-family: Varela
                                font-size: 11px
                                line-height: 20px
                                color: #666666
                        .text
                            color: #444444
                            font-family: Varela
                            font-size: 13px
                            line-height: 20px
                        .comment-reply
                            position: absolute
                            top: 0
                            right: 0
                            color: $purple
                            font-family: Varela Round
                            font-size: 14px
                            line-height: 17px
                            &:hover
                                opacity: 0.8
            .add-comment
                padding: 8px 30px
                .text
                    color: #444444
                    font-family: Varela
                    font-size: 13px
                    line-height: 20px
                    padding-bottom: 25px
                .add-comment-form
                    display: flex
                    flex-direction: column
                    input
                        width: 50%
                        padding: 10px 15px
                        margin: 4px 0
                        border: none
                        background-color: #DDDDDD
                        font-family: Varela Round
                        font-size: 14px
                        line-height: 17px
                        color: #666666
                    textarea
                        padding: 10px 15px
                        margin: 4px 0
                        border: none
                        background-color: #DDDDDD
                        resize: none
                        font-family: Varela Round
                        font-size: 14px
                        line-height: 17px
                        color: #666666
                    .add-comment-button
                        color: #FFFFFF
                        margin: 14px 0
                        padding: 10px 35px
                        background-color: $purple
                        width: fit-content
                        border: none
    aside
        height: fit-content
        width: 302px
        margin: 15px 0
        .aside-articles
            position: relative
            background: $purple
            &:before
                content: ""
                display: block
                position: absolute
                top: 0
                left: 0
                height: 100%
                width: 100%
                mix-blend-mode: normal
                opacity: 0.2
                background-color: #000
            .aside-articles-links
                ul
                    position: relative
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    padding: 15px 25px
                    li
                        display: inline-block
                        a
                            font-family: Varela Round
                            color: #fff
                            border-bottom: 1px solid #FFFFFF4D
                            &.active
                                color: $techColor
                                border-bottom: 1px solid $techColorLight
            .article
                padding: 10px
                position: relative
                display: flex
                flex-direction: row
                background: $purple
                margin: 2px 0
                &:hover
                    &:before
                        content: ""
                        display: block
                        position: absolute
                        top: 0
                        left: 0
                        height: 100%
                        width: 100%
                        background: #000000
                        mix-blend-mode: normal
                        opacity: 0.1
                .article-content
                    position: relative
                    display: flex
                    flex-direction: column
                    padding: 0 15px
                    .article-info
                        position: relative
                        display: flex
                        flex-direction: column
                        .article-date
                            font-family: Varela Round
                            font-size: 10px
                            color: #ACB3BA
                        .article-title
                            font-weight: bold
                            font-size: $standardFontSize
                    .article-comments
                        font-family: Varela Round
                        font-size: 10px
                        text-align: right
                        color: #ACB3BA
                .article-image
                    border: 3px solid #ffffff
                    box-shadow: 0px 1px 1px rgba(0, 0, 1, 0.3)
        .aside-social
            margin: 15px 0
            .aside-social-title
                color: $mainArticlesTitleColor
                font-weight: bold
                font-size: 24px
                line-height: 29px
                padding: 15px 0
            .social-networks
                display: flex
                flex-direction: column
                .social-network
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    margin: 3px 0
                    .social-icon
                        width: 100%
                        height: 100%
                        max-width: 40px
                        max-height: 40px
                        img
                            width: 100%
                            height: 100%
                    .social-text
                        width: 40%
                        display: flex
                        align-items: center
                        background-color: #DDDDDD
                        padding: 0 10px
                        color: $mainArticlesTitleColor
                        font-weight: bold
                        font-size: 18px
                    .social-number
                        width: 50%
                        display: flex
                        align-items: center
                        background-color: $purple
                        padding: 0 10px
                        font-family: Varela Round
                        font-size: $standardFontSize
        .aside-tv
            position: relative
            background-color: #FFFFFF
            height: fit-content
            margin-bottom: 18px
            .aside-tv-title
                font-weight: bold
                color: $mainArticlesTitleColor
                font-size: 24px
                padding: 15px 25px
            .aside-tv-video
                position: relative
                height: 100%
                .aside-tv-video-image
                    position: relative
                    top: 0
                    left: 0
                .aside-tv-video-button
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
            .aside-tv-text
                position: relative
                padding: 15px
                .aside-tv-date
                    font-family: Varela Round
                    font-size: 12px
                    color: #666666
                .aside-tv-article-title
                    color: $mainArticlesTitleColor
                    font-weight: bold
                    font-size: $standardFontSize
        .aside-banners
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
            background-color: #DDDDDD
            padding: 15px
            margin-bottom: 18px
            .aside-banner
                width: 128px
                height: 128px
                background-color: #FFFFFF
                margin: 5px
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                p
                    color: #999999
        .aside-facebook
            padding: 15px
            background-color: #FFFFFF

.main-article-top
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    h1
        font-family: Bitter
        font-weight: bold
        font-size: 24px
        line-height: 29px
        color: $mainArticlesTitleColor
        padding-bottom: 15px
    a
        font-family: Varela Round
        color: #3677B5
        border-bottom: 2px solid #3677B54D
        padding: 0
        margin: 0
        height: fit-content
        &:hover
            opacity: 0.8
    .arrows
        img
            margin: 7px
            cursor: pointer

.articles
    position: relative
    display: flex
    flex-direction: row
    flex-wrap: wrap
    width: 100%

.medium-article
    position: relative
    width: 31%
    margin: 5px
    cursor: pointer
    display: block
    &:hover
        opacity: 0.85
    img
        position: relative
        width: 100%
        height: auto
    .article-date-and-views
        position: relative
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: 5px 0
        p
            font-family: Varela Round
            font-size: 12px
            color: #666666
    .article-title
        position: relative
        font-weight: bold
        font-size: $standardFontSize
        color: #363f48

.small-article
    position: relative
    width: 48%
    margin: 5px
    display: flex
    flex-direction: row
    padding: 5px 0
    cursor: pointer
    &:hover
        opacity: 0.85
    img
        position: relative
        width: 120px
        height: auto
    .article-side
        display: flex
        flex-direction: column
        padding-left: 10px
        .article-date-and-views
            position: relative
            display: flex
            flex-direction: row
            justify-content: space-between
            padding: 5px 0
            p
                font-family: Varela Round
                font-size: 12px
                color: #666666
        .article-title
            position: relative
            font-weight: bold
            font-size: $standardFontSize
            line-height: 16px
            color: #363f48

.bottom-slick
    position: relative
    margin-bottom: 15px
    .slider-for
        position: relative
        .slick-arrow
            z-index: 1
        .slick-prev
            @include slick(35%)
            left: 28px
        .slick-next
            @include slick(35%)
            right: 28px
        .search-icon
            position: absolute
            top: 42%
            left: 50%
            transform: translate(-50%, -50%);
            img
                width: 80px
                height: auto
    .slider-nav
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%)
        div
            cursor: pointer
        .slick-list
            width: 98%
            margin: 0 auto
            .slick-track
                margin: 0
                padding: 0
                width: fit-content
                .slick-slide
                    margin: 0
                    padding: 0
                    img
                        width: 100%
                        padding: 15px 5px

.footer-title
    font-weight: bold
    font-size: 24px
    color: #CCCCCC

footer
    position: relative
    width: 100%
    background-color: $headerFooterColor
    border-top: 23px solid $purple
    display: flex
    flex-direction: column
    align-items: center
    padding: 50px 0
    div
        max-width: 960px
        .top
            display: flex
            flex-direction: row
            justify-content: space-between
            .top-element
                display: flex
                flex-direction: column
                align-content: center
                width: 100%
                margin: 0 10px
                .footer-title
                    padding-bottom: 10px
                .text
                    color: #666666
                    padding: 23px 0
                .logo
                    color: #45B0E3
                    font-size: 29.623px
                    display: flex
                    flex-direction: row
                    img
                        padding-right: 18px
                .social
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    a:hover
                        opacity: 0.8
                form
                    width: 100%
                    font-family: "Varela Round"
                    font-size: 16px
                    line-height: 19px
                    display: flex
                    flex-direction: row
                    input
                        background-color: #333333
                        border: none
                        padding: 15px
                        width: 80%
                    button
                        position: relative
                        border: none
                        padding: 15px
                        color: #CCCCCC
                        background-color: $purple
                        &:hover
                            color: #FFFFFF
                            &:before
                                content: ""
                                position: absolute
                                top: 0
                                left: 0
                                width: 100%
                                height: 100%
                                opacity: 0.1
                                background: #000000
                .links
                    padding-top: 23px
                    ul
                        li
                            display: inline-block
                            margin: 5px 0
                            a
                                font-family: "Varela"
                                font-size: 12px
                                line-height: 20px
                                padding: 5px 8px
                                margin: 0 2px
                                background: #333333
                                color: #666666
                                &:hover
                                    background-color: $purple
                                    color: #CCCCCC
        .mid
            display: flex
            flex-direction: row
            margin-top: 50px
            .mid-element
                display: flex
                flex-direction: column
                width: 100%
                margin: 0 10px
                .mid-footer-hr
                    background-color: #666666
                    mix-blend-mode: normal
                    opacity: 0.2
                .bottom-footer-hr
                    background-color: transparent
                .footer-title
                    padding-bottom: 25px
                .footer-article
                    position: relative
                    display: flex
                    flex-direction: row
                    .article-info
                        display: flex
                        flex-direction: column
                        padding-right: 20px
                        .article-info-date-comments
                            display: flex
                            flex-direction: row
                            justify-content: space-between
                            p
                                font-family: "Varela Round"
                                font-size: 10px
                                line-height: 12px
                                color: #666666
                        .article-info-title
                            font-weight: bold
                    &:hover
                        .article-info
                            .article-info-title
                                text-decoration: underline
                .footer-tweet
                    display: flex
                    flex-direction: column
                    width: 100%
                    .footer-tweet-acc
                        display: flex
                        flex-direction: row
                        img
                            margin-right: 5px
                            width: 24px
                            height: 18px
                        a
                            color: #666666
                    .footer-tweet-post
                        font-family: "Varela"
                        font-size: 13px
                        line-height: 18px
                        color: #CCCCCC
    .footer-hr
        width: 100%
        margin-top: 60px
        background-color: #333333
    .bottom
        width: 960px
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 4px
        .copyright
            font-family: "Varela Round"
            font-size: 12px
            color: #999999
        .links
            ul
                li
                    display: inline-block
                    color: #999999
                    a
                        margin: 0 8px
                        font-family: "Varela Round"
                        font-size: 12px
                        &:hover
                            text-decoration: underline