// importing abstracts
@import "abstracts/variables"
@import "abstracts/mixins"

// reset
@import "base/reset"

// importing layouts
@import "layout/header"
@import "layout/main"
@import "layout/aside"
@import "layout/footer"

// importing components
@import "components/slicks"

.center-articles
    position: relative
    display: flex
    flex-direction: row
    width: 100%
    .main-articles
        width: 625px
        margin: 15px 18px 0 0
        .news
            @include mainArticles($blueDark)
            margin-bottom: 17px
        .sport
            @include mainArticles($green)
            margin-bottom: 17px
        .business
            @include mainArticles($red)
        .news-carousel
            @include mainArticles($yellow)
            margin-bottom: 17px
        .single-carousels
            display: flex
            flex-direction: row
            justify-content: space-between
            .editorials
                @include mainArticles($beige)
                width: 48%  
            .local-news
                @include mainArticles($beige)
                width: 48%
        .news-category
            position: relative
            width: 100%
            background: $whiteColor
            padding: 25px
            .news-category-title
                font-weight: bold
                font-size: $titleFontSize
                line-height: 29px
                color: $articleTextColor
                padding-bottom: 35px
            .news-category-article
                display: flex
                flex-direction: column
                padding: 20px 0
                .title
                    color: $articleTextColor
                    font-weight: bold
                    font-size: $titleFontSize
                    line-height: 28px
                    padding-bottom: 15px
                .data
                    display: flex
                    flex-direction: row
                    align-items: center
                    justify-content: space-between
                    width: 70%
                    .date
                        display: flex
                        flex-direction: row
                        align-items: center
                        img
                            padding-right: 10px
                        .dat
                            color: $articleTextColor
                            font-family: Varela Round
                            font-size: $smallFontSize
                            line-height: 14px
                    .author
                        color: $articleTextColor
                        font-family: Varela Round
                        font-size: $smallFontSize
                        line-height: 14px
                    .comments
                        color: $articleTextColor
                        font-family: Varela Round
                        font-size: $smallFontSize
                        line-height: 14px
                .body
                    display: flex
                    flex-direction: row
                    padding: 5px 0 30px
                    img
                        padding: 10px 20px 0 0
                        align-self: flex-start
                    .text-button
                        display: flex
                        flex-direction: column
                        .text
                            color: $textColor
                            font-size: $standardFontSize
                            line-height: 22px
                            padding-bottom: 15px
                        a
                            font-family: Varela Round
                            font-size: $standardFontSize
                            line-height: 17px
                            background-color: $purple
                            color: $whiteColor
                            width: fit-content
                            padding: 8px 22px
                            border: none
                            &:hover
                                opacity: 0.9
            .category-hr
                color: $greyColor
            .page-numbers
                padding: 40px 0 10px
                ul
                    li
                        display: inline
                        margin: 5px
                        a
                            font-family: Varela Round
                            font-size: $standardFontSize
                            line-height: 17px
                            color: $purple
                            padding: 8px 12px
                            background-color: $greyColor
                            &.active
                                background-color: $purple
                                color: $whiteColor
                            &:hover
                                opacity: 0.8
        .article
            background-color: $whiteColor
            .text
                padding: 30px
                color: $textColor
                font-size: $standardFontSize
                line-height: 22px
            .social
                padding: 40px 10px 18px
        .author-section
            background-color: $whiteColor
            padding: 18px 30px 30px
            margin-bottom: 20px
            .title
                font-weight: bold
                font-size: $titleFontSize
                line-height: 29px
                color: $articleTextColor
                padding-bottom: 30px
            .author-content
                display: flex
                flex-direction: row
                justify-content: space-between
                .about-author
                    color: $articleTextColor
                    font-family: Varela
                    font-size: 13px
                    line-height: 20px
                    padding-left: 20px
        .comments-section
            background-color: $whiteColor
            margin-bottom: 40px
            .title
                color: $articleTextColor
                font-weight: bold
                font-size: $titleFontSize
                line-height: 29px
                padding: 18px 30px
            .comments
                padding: 15px 30px
                .comment
                    display: flex
                    flex-direction: row
                    align-items: flex-start
                    padding-bottom: 40px
                    &:last-child
                        padding: 0
                    .comment-body
                        position: relative
                        padding-left: 18px
                        .top
                            display: flex
                            flex-direction: row
                            padding-bottom: 3px
                            .user-name
                                font-size: 18px
                                line-height: 20px
                                color: $purple
                                padding-right: 10px
                            .date
                                font-family: Varela
                                font-size: 11px
                                line-height: 20px
                                color: $darkGrey
                        .text
                            color: $textColor
                            font-family: Varela
                            font-size: 13px
                            line-height: 20px
                        .comment-reply
                            position: absolute
                            top: 0
                            right: 0
                            color: $purple
                            font-family: Varela Round
                            font-size: $standardFontSize
                            line-height: 17px
                            &:hover
                                opacity: 0.8
            .add-comment
                padding: 8px 30px
                .text
                    color: $textColor
                    font-family: Varela
                    font-size: 13px
                    line-height: 20px
                    padding-bottom: 25px
                .add-comment-form
                    display: flex
                    flex-direction: column
                    input
                        width: 50%
                        padding: 10px 15px
                        margin: 4px 0
                        border: none
                        background-color: $greyColor
                        font-family: Varela Round
                        font-size: $standardFontSize
                        line-height: 17px
                        color: $darkGrey
                    textarea
                        padding: 10px 15px
                        margin: 4px 0
                        border: none
                        background-color: $greyColor
                        resize: none
                        font-family: Varela Round
                        font-size: $standardFontSize
                        line-height: 17px
                        color: $darkGrey
                    .add-comment-button
                        color: $whiteColor
                        margin: 14px 0
                        padding: 10px 35px
                        background-color: $purple
                        width: fit-content
                        border: none

.main-article-top
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    h1
        font-family: Bitter
        font-weight: bold
        font-size: $titleFontSize
        line-height: 29px
        color: $articleTextColor
        padding-bottom: 15px
    a
        font-family: Varela Round
        color: #3677B5
        border-bottom: 2px solid #3677B54D
        padding: 0
        margin: 0
        height: fit-content
        &:hover
            opacity: 0.8
    .arrows
        img
            margin: 7px
            cursor: pointer

.articles
    position: relative
    display: flex
    flex-direction: row
    flex-wrap: wrap
    width: 100%

.medium-article
    position: relative
    width: 31%
    margin: 5px
    cursor: pointer
    display: block
    &:hover
        opacity: 0.85
    img
        position: relative
        width: 100%
        height: auto
    .article-date-and-views
        position: relative
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: 5px 0
        p
            font-family: Varela Round
            font-size: $smallFontSize
            color: $darkGrey
    .article-title
        position: relative
        font-weight: bold
        font-size: $standardFontSize
        color: #363f48

.small-article
    position: relative
    width: 48%
    margin: 5px
    display: flex
    flex-direction: row
    padding: 5px 0
    cursor: pointer
    &:hover
        opacity: 0.85
    img
        position: relative
        width: 120px
        height: auto
    .article-side
        display: flex
        flex-direction: column
        padding-left: 10px
        .article-date-and-views
            position: relative
            display: flex
            flex-direction: row
            justify-content: space-between
            padding: 5px 0
            p
                font-family: Varela Round
                font-size: $smallFontSize
                color: $darkGrey
        .article-title
            position: relative
            font-weight: bold
            font-size: $standardFontSize
            line-height: 16px
            color: #363f48